<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
</head>
<body>
    <form id="form" action="uploadImg" method="post" enctype="multipart/form-data", onsubmit="return checkForm()">
        {% csrf_token %}
        <label for="company_name">请输入快递公司名 : </label>
        <input id="company_name" name="company_name" type="company_name" list="company" />
        <datalist id="company">
            {% for delivery in dcyDelivery %}
                <option value="{{ delivery.delivery_name }}">
            {% endfor %}
        </datalist>

        <br>

        <label for="province_name">请输入省名 : </label>
        <input id="province_name" name="province_name" type="province_name" list="province" onchange="getCities(this.value, {{ provincial_list }}, {{ city_list }})"/>
        <datalist id="province">
            {% for province in provincial %}
                <option value="{{ province.provincial}}">
            {% endfor %}
        </datalist>

        <br>

        <label for="city_name">请输入市名 : </label>
        <input id="city_name" name="city_name" type="city_name" list="city" />
        <datalist id="city">

        </datalist>

        <br>

        <label for="img">请选择图片 : </label>
        <input type="file" name="img"><br>
        <input type="submit" value="上传" onclick="onSubmit()"/>
    </form>

</body>

<script type="text/javascript">
    function onSubmit() {
        alert("上传成功！")
        var company_name = $("company_name").val();
        var formData = new FormData();
        formData.append('company_name', company_name)
        $.ajax({
            url: "uploadImg",
            type: "POST",
            data: formData,
            success:function (data) {
                alert('success!')
            }
        })
    }

    function getCities(currProvince, provincial_list, city_list) {
        curr_pid = 0;
        for(var i=0;i<provincial_list.length;i++){
            if(provincial_list[i]['provincial'] == currProvince){
                curr_pid = provincial_list[i]['pid'];
                break;
            }
        }

        curr_city = new Array()
        data_list = document.getElementById('city')
        child_list = data_list.childNodes
        for(var i=0;i<child_list.length;i++){
            data_list.removeChild(child_list[i])
        }

        for(var i=0;i<city_list.length;i++){
            if(city_list[i]['pid_id'] == curr_pid){
                option = document.createElement('OPTION')
                option.text = city_list[i]['city']
                option.value = city_list[i]['city']
                data_list.appendChild(option)
            }
        }
    }
</script>
</html>
